<div class="about-us">
    <img class="profile-picture" src="8.jpg" alt="Profile Picture">
    <div class="cv-section">
        <p>
            Η Βασιλική Μανωλάκη είναι πτυχιούχος Φυσικοθεραπεύτρια, απόφοιτη του Πανεπιστημίου Θεσσαλίας (πρώην ΤΕΙ).
            Διαθέτει πολυετή και πολύτιμη επαγγελματική εμπειρία, την οποία απέκτησε μέσα από συνεργασίες με δημόσια
            νοσοκομεία, κέντρα αποκατάστασης και ιδιωτικά φυσικοθεραπευτήρια.
        </p>
        <p>
            Αντιλαμβανόμενη τη διαρκή εξέλιξη της επιστήμης της φυσικοθεραπείας και τη συνεχή ανάδυση νέων θεραπευτικών
            προσεγγίσεων, επενδύει σταθερά στη συνεχιζόμενη επαγγελματική της επιμόρφωση. Έχει παρακολουθήσει πληθώρα
            εξειδικευμένων σεμιναρίων, όπως:
        </p>
        <div class="education-grid">
            <mat-card *ngFor="let education of educationList" class="education-card">
                <mat-card-header>
                    <mat-card-title>{{education.year}}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <h3>{{education.title}}</h3>
                    <p>{{education.institution}}</p>
                </mat-card-content>
            </mat-card>
        </div>
        <p>
            Μέσω αυτών των εκπαιδεύσεων, διευρύνει διαρκώς τις γνώσεις και τις δεξιότητές της, με στόχο την παροχή
            ολοκληρωμένης και επιστημονικά τεκμηριωμένης φροντίδας.
        </p>
        <p>
            Για την ίδια, η δια βίου μάθηση αποτελεί συνειδητή επιλογή ευθύνης απέναντι σε κάθε άνθρωπο που της
            εμπιστεύεται την υγεία του.
        </p>
        <h2>Θεραπευτική Φιλοσοφία</h2>
        <p>
        Με απόλυτο σεβασμό στον άνθρωπο και έμφαση στις επιστημονικά τεκμηριωμένες πρακτικές, σχεδιάζει εξατομικευμένα
        θεραπευτικά προγράμματα, προσαρμοσμένα στις ανάγκες και τις ιδιαιτερότητες κάθε ασθενούς.
    </p>
    <p>
        Σκοπός της δεν είναι μόνο η αποκατάσταση της σωματικής λειτουργίας, αλλά η συνολική ενίσχυση της ποιότητας ζωής
        των ασθενών της. Βασίζεται στη δημιουργία μιας σχέσης εμπιστοσύνης, φροντίδας και συνεχούς εξέλιξης, μέσα από
        την οποία επιδιώκει να προσφέρει ουσιαστικά και διαχρονικά αποτελέσματα.
    </p>
    </div>
</div>