<nav>
    <a href="/"><img src="manolaki.png" alt="Manolaki Logo"></a>
    <!-- <a href="/">Home</a> -->
    <div class="services-dropdown">
        <a href="/services">Υπηρεσίες</a>
        <div class="dropdown-content">
            <a href="/services#musculoskeletal">Μυοσκελετική Φυσικοθεραπεία</a>
            <a href="/services#neurological">Νευρολογική Αποκατάσταση</a>
            <a href="/services#cardio">Καρδιοαναπνευστικών Νοσημάτων</a>
            <a href="/services#pelvic">Πυελικού Εδάφους</a>
            <a href="/services#lymph">Λεμφική Παροχέτευση</a>
            <a href="/services#massage">Θεραπευτική Μάλαξη</a>
        </div>
    </div>
    <a href="/about">Σχετικά</a>
    <a href="/contact">Επικοινωνία</a>
</nav>