nav {
    background-color: #333;
    padding: 0px;
    font-family: 'Arial', sans-serif;
    border-radius: 0;
    display: flex;
    /* Ensures items in the nav are aligned inline */
    align-items: center;
    /* Aligns items vertically in the center */
    justify-content: center;
    /* Centers items horizontally */
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 3vw;
    transition: color 0.3s ease;
    flex: 1;
    display: flex;
}

nav a:hover {
    color: #ddd;
}

nav img {
    height: auto;
    /* Adjust based on your preference */
    max-height: 7vmax;
    object-fit: contain;
    /* Ensures the image maintains its aspect ratio */
    border-radius: 10px;
    /* Makes the image circular */
}

.services-dropdown {
    position: relative;
    display: inline-block;
    flex: 1;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px;
}

.dropdown-content a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 14px;
}

.services-dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a:hover {
    background-color: #444;
    border-radius: 10px;
}