<div class="contact-us">
    <img class="contact-image" src="9.jpg" alt="Contact Image">
    <div class="social-links">
        <mat-chip-set>
            <a href="tel:+306947630148" class="chip-link">
                <mat-chip>
                    <mat-icon>phone</mat-icon>
                    6947630148
                </mat-chip>
            </a>
            <a href="mailto:vassom4@gmail.com" class="chip-link">
                <mat-chip>
                    <mat-icon>email</mat-icon>
                    vassom4&#64;gmail.com
                </mat-chip>
            </a>
            <a href="https://www.facebook.com/profile.php?id=100090281213836" target="_blank" class="chip-link">
                <mat-chip>
                    <mat-icon>facebook</mat-icon>
                    Facebook
                </mat-chip>
            </a>
            <a href="https://www.instagram.com/vmanolaki.physio/" target="_blank" class="chip-link">
                <mat-chip>
                    <mat-icon>photo_camera</mat-icon>
                    Instagram
                </mat-chip>
            </a>
        </mat-chip-set>
    </div>
</div>