<div class="contact-us">
    <img class="contact-image" src="9.jpg" alt="Contact Image">
    <div class="social-links">
        <a href="tel:+306947630148" class="social-link">
            <mat-icon>phone</mat-icon>
            6947630148
        </a>
        <a href="mailto:vassom4@gmail.com" class="social-link">
            <mat-icon>email</mat-icon>
            vassom4&#64;gmail.com
        </a>
        <a href="https://www.facebook.com/profile.php?id=100090281213836" target="_blank" class="social-link">
            <mat-icon>facebook</mat-icon>
            Facebook
        </a>
        <a href="https://www.instagram.com/vmanolaki.physio/" target="_blank" class="social-link">
            <mat-icon>photo_camera</mat-icon>
            Instagram
        </a>
    </div>
</div>