<div class="contact-us">
    <img class="contact-image" src="9.jpg" alt="Contact Image">
    <div class="social-links">
        <a href="tel:+306947630148" class="button-link">
            <button mat-stroked-button>
                <mat-icon>phone</mat-icon>
                6947630148
            </button>
        </a>
        <a href="mailto:vmanolaki.physio@gmail.com" class="button-link">
            <button mat-stroked-button>
                <mat-icon>email</mat-icon>
                vmanolaki.physio&#64;gmail.com
            </button>
        </a>
        <a href="https://www.facebook.com/profile.php?id=100090281213836" target="_blank" class="button-link">
            <button mat-stroked-button>
                <mat-icon>facebook</mat-icon>
                Facebook
            </button>
        </a>
        <a href="https://www.instagram.com/vmanolaki.physio/" target="_blank" class="button-link">
            <button mat-stroked-button>
                <mat-icon>photo_camera</mat-icon>
                Instagram
            </button>
        </a>
    </div>
</div>