<!-- src/app/services/services.component.html -->
<div class="services-container">
    <h1>Our Services</h1>
    <div class="service">
        <h2>Physical Therapy</h2>
        <p>Comprehensive physical therapy services to help patients recover from injuries and improve their overall health.</p>
        <img src="injury-8668706_1280.jpg" alt="">
    </div>
    <div class="service">
        <h2>Sports Rehabilitation</h2>
        <p>Specialized rehabilitation services for athletes and individuals looking to recover from sports-related injuries.</p>
        <img src="volleyball-520093_1280.jpg" alt="">
    </div>
    <div class="service">
        <h2>Post-operative Care</h2>
        <p>Personalized care plans to support recovery after surgery, ensuring a safe and effective return to daily activities.</p>
        <img src="physio-1778034_1280.jpg" alt="">
    </div>
    <!-- Add more services as needed -->
</div>
