.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 1px;
    font-family: Arial, sans-serif;
    text-align: center;
    /* Center the text */
}

h1,
h2 {
    color: #333;
}

.banner {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
}

.about,
.contact {
    margin-top: 20px;
    padding: 20px;
    border-radius: 5px;
    background-color: #f9f9f9;
    border-radius: 10px;
}
.image-placeholder {
    margin-top: 20px;
}

img {
    max-width: 100%;
    border-radius: 10px;
}

a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    color: white;
    background-color: #007BFF;
    text-decoration: none;
    border-radius: 5px;
}

a:hover {
    background-color: #0056b3;
}

.responsive-title {
    font-size: clamp(2rem, 5vw, 3.5rem);
    line-height: 1.2;
}

.responsive-subtitle {
    font-size: clamp(1.5rem, 3vw, 2.5rem);
    line-height: 1.3;
}