<div class="container">
    <div class="banner">
        <h1 class="mat-headline-1 responsive-title">Βασιλική Μανωλάκη</h1>
        <h2 class="mat-headline-2 responsive-subtitle">Φυσικοθεραπεύτρια</h2>
        <p class="mat-subtitle-1 primary-text">Φυσικοθεραπείες κατ' οίκον στη Χίο</p>
        <p class="mat-subtitle-1 primary-text">Εξειδικευμένη Φροντίδα Υγείας και Αποκατάστασης</p>
        <a href="tel:+306947630148" class="button-link">6947630148</a>
    </div>

    <div class="image-placeholder">
        <img src="logo_wide.jpg">
    </div>
</div>
